
body{
    font-family:system-ui;
    background-color: hsl(0, 0%, 98%);
    
}
h3,p{
    text-align: center;
    color :hsl(0, 0%, 29%);
}
.light{
    font-weight: lighter;
    font-size: smaller;
    font-size: 20px;
    
}
.container{
    margin: auto;
    width: 800px;
    height: 400px;
    position: relative;
    
}
.container div{
    box-shadow: 0px 0px 5px 6px rgb(214, 213, 213);   
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    color:rgb(241, 30, 30); 
}
#float{
float: left;
}
.side{
margin-top: 120px;
border-top: 3px solid hsl(212, 86%, 64%);

}
#side{
position: absolute;
right:11%;
top:28%;
border-top: 3px solid hsl(212, 86%, 64%);
}
#middle{
    float: left;
    margin-left: 25px;
}
#middle div{
    border-top: 3px solid hsl(34, 97%, 64%);
    margin-top: 25px;  
    
}
div img{
    height: 40px;
    width: 40px;
    margin-left:170px;
}